html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



.chat-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(49, 46, 46, 0.3);
    background-color: #F5F5F5;
}

.chat-body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.chat-body::-webkit-scrollbar-thumb {
    background-color: #312e2e;
    
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(225, 205, 197);
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    font-family: Helvetica, sans-serif;
}

.container {
    width: 80%;
    /* margin: auto; */
    max-width: 800px;
    padding: 0px;
    background: #756767;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #fe9601;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.chat-header h1 {
    /* font-size: 1.5rem; */
    margin-bottom: 0;
    text-align: center;
    color: #F5F5F5;
}

.chat-body {
    padding: 10px 0;
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    background-color: #fe9601;
    /* background-color: #5a5555; */
    max-width: 80%;
    overflow-wrap: break-word;
    margin-bottom: 10px;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: #ece4e4;
}
/* name and time in the chat */
.meta {
    font-size: 0.8rem;
    /* color: #999; */
    color: rgb(32, 29, 29);
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;

    /* border: 1px solid red; */
}


.meta span {
    font-weight: 500;
}

.bot {
    align-self: flex-start;
    width: fit-content;
    
}

.user {
    align-self: end;
    width: fit-content;
    margin-right: 10px;
}

.chat-form-container {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    width: 100%;
}

#chat-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
    margin-left: 10px;
}

#chat-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fe9601;
    margin: 10px;
    color: #fff;
    width: 30%;
    cursor: pointer;
    outline: none;
}

#chat-form button:hover {
    background: #e6b683;
}

@media screen and (max-width: 768px) {
    .chat-header h1 {
        font-size: 18px;
    }
        .container {
            float: none;
            margin: 50px auto;
            height: 85%;
            width: 90%;
        }
        
        .bot, .user {
                       font-size: 10px;
                       width: auto;
                       line-height: 1.1rem;
                       margin-bottom: 1px;
                       margin-top: 10px;
                       max-width: 50%;
                       padding: 14px;
                       clear: both;
        
                   }
        #chat-form button{
            margin-left: 5px;
        }
                .meta {
                    font-size: 10px;
                }
}